<h2>Criar usuário</h2>

<div>
    <label>Primeiro nome
        <input placeholder="Insira o primeiro nome: " [(ngModel)]="request.primeiro_Nome">
    </label>
    <br>
    <br>
    <label>Ultimo nome
        <input placeholder="Insira o ultimo nome: " [(ngModel)]="request.ultimo_Nome">
    </label>
    <br>
    <br>
    <label>Data de nascimento
        <input placeholder="Insira a data de nascimento: " [(ngModel)]="request.data_nascimento">
    </label>
    <br>
    <br>
    <label>Email
        <input placeholder="Insira o email: " [(ngModel)]="request.email">
    </label>
    <br>
    <br>
    <label>Endereço
        <input placeholder="Insira o endereço: " [(ngModel)]="request.endereco">
    </label>
    <button (click)="save()">Salvar</button>
</div>
<br><br>

<div *ngIf="response">
    <h3>Criado com sucesso!</h3>
    <label>Primeiro nome: {{response.primeiro_Nome}}</label>
    <br> 
    <label>Ultimo nome: {{response.ultimo_Nome}}</label>
    <br>
    <label>Data de Nascimento: {{response.data_nascimento}}</label>
    <br>
    <label>Email: {{response.email}}</label>
    <br>
    <label>Endereço: {{response.endereco}}</label>
    <br>
    <label>Criado em: {{response.createdAt}}</label>
    <br>
    <label>Id: {{response.id}}</label>
</div> 